/*全体のcss*/
body{
    margin: 0;
    padding: 0;
    cursor: none;
}

#cursor{
    position: fixed;
    border-radius:10px;
    background-color: #000;
    width: 5px;
    height: 5px;
    margin: -10px 0 0 -10px;
    pointer-events: none;
    opacity: 0;
    transition: transform 0.1s;
    z-index: 100;
  }

  #stalker{
    position: fixed;
    width: 60px;
    height: 60px;
    border-radius:30px;
    margin: -30px 0 0 -30px;
    pointer-events: none;
    opacity: 0;
    transition: transform 0.5s;
    z-index: 99;
    border: solid 2px #000;
  }

  #cursor.active,
  #stalker.active{
    transform: scale(1.4);
}

.mainbody{
    width: 100%;
    height: 4000px;
}

#mainbox1,#mainbox2,#mainbox3,#mainbox4{
    width: 100%;
    height: 1000px;
    position: relative;
}

.whitebox{
    background-color: #fff;
}

.blackbox{
    background-color: #000;
}

.headerbox{
    height: 300px;
    width: 100%;
    position: absolute;
}

#borderblack{
    border-bottom: solid 6px #000;
    color: #000;
    text-shadow: 5px 0 4px rgb(180, 180, 180);
}

#borderwhite{
    border-bottom: solid 6px #fff;
    color: #fff;
    text-shadow: 5px 0 4px rgb(50, 50, 50);
}

.titlebox{
    height: 30vh;
    width: 95%;
    font-size: 300%;
    font-family: 'Noto Sans JP';
}

.titlebox h1{
    margin: 0 0 0 5%;
    
}

/*ハンバーガーメニュー*/
.hamburger{
    position: fixed;
    align-self: center;
    text-align: center;
    color: #fff;
    height: 50px;
    width: 50px;
    background-color: #000;
    z-index: 51;
    right: 0;
}

.hamburger2{
    position: fixed;
    align-self: center;
    text-align: center;
    height: 50px;
    width: 50px;
    border: solid 1px#fff;
    right: 0;
}

.hamburgerline{
    width: 60%;
    height: 10%;
    background-color: #fff;
    margin: 25% 20% 25% 20%;
    border-radius: 50px;
}

.hamburger2::before,.hamburger2::after{
    content: "";
    position: absolute;
    width: 80%;/*バツ線の長さ*/
    height: 7px;/*バツ線の太さ*/
    background: #fff;
    border-radius: 2.5px;
    top: 50%;
    left: 50%;
}

.hamburger2::before{
    transform: translate(-50%,-50%) rotate(45deg);
}

.hamburger2::after{
    transform: translate(-50%,-50%) rotate(-45deg);
}

span{
    margin: 0;
    padding: 0;
}

@keyframes fadeIn { 
    0% {opacity: 0} 
    100% {opacity: 1} 
}


/*page1*/
.page1main{
    position: absolute;
    height: 500px;
    width: 60%;
    border: solid 30px #000;
    margin: 9% 0 0 20%;
    background-color: #fff;
    z-index: 2;
}

.page1main h6{
    margin: 2% 0 2% 0;
    width: 100%;
    font-size: 550%;
    text-align: center;
    font-family: 'Prociono', serif;
    text-shadow: 5px 0 4px rgb(180, 180, 180);
}

.page1main p{
    font-family: 'Noto Sans JP';
    font-size: 200%;
    margin: 0 0 0 10%;
}

.shadowbox1{
    position: absolute;
    height: 500px;
    width: 60%;
    border: solid 15px #000;
    margin: 14% 0 0 25%;
    z-index: 1;
}

.list{
    position: absolute;
    margin: 18% 0 0 3%;
    height: 40vh;
    width: 15%;
    z-index: 5;
}

.list ul,#nav ul,.proscons ul{
    list-style-type: none;
    height: 100%;
    font-family: 'Noto Sans JP';
    font-size: 150%;
}

.list li{
    height: 20%;
    width: 100%;
    vertical-align: middle;
}

.list a{
    text-decoration: none;
    color: #000
}


/*page2*/
.profilebox1{
    height: 800px;
    width: 600px;
    background-color: #000;
    border: solid 2px #fff;
    margin: 4% 0 0 25%;
    position: absolute;
}

.profilebox2{
    height: 90%;
    width: 90%;
    background-color: #000;
    border: solid 1px #fff;
    margin: auto; 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.profilebox2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
}
.profilebox3{
    width: 100%;
    height: 24%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    z-index: 2;
    border-bottom: double 7px #000;
}

.profilebox3 h1{
    font-size: 550%;
    text-align: center;
    vertical-align: middle;
    font-family: 'Noto Serif JP', serif;
    margin:0;
    padding: 3%;
    text-shadow: 5px 0 3px rgb(163, 163, 163);
}

.profileboxtext{
    position: absolute;
    margin: 90% 0 0 40%; 
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    height: 25%;
    width: 60%;
}

.profileboxtext p{
    font-family: 'Noto Serif JP', serif;
    margin: 0;
    color: #fff;
}

#page2text1{
    font-size: 18px;
}

#page2text2{
    font-size: 14px;
}

.margin-10{
    padding-top: 5%;
}

.profile{
    height: 250px;
    width: 250px;
    border: solid 3px #fff;
    background-color: #000;
    position: absolute;
    z-index: 4;
    color: #fff;
    font-family: 'Noto Sans JP';
    text-align: center;
}

.profile h3{
    margin: 0;
    font-size: 200%;
}

#study{
    margin: 16% 0 0 67%;
}

.studybox{
    height: 200px;
    width: 200px;
    margin: 10% 0 0 25px;
}

.studybox p{
    margin:0;
}

.text1{
    text-align: left;
}

.text2{
    text-align: right;
}

#work{
    margin: 19% 0 0 83%;
}

.text3{
    margin: 15% 0 0 0;
    font-size: 100%;
}

.text4{
    margin: 10% 0 5% 0;
    font-size: 140%;
}

.text5{
    margin: 0;
    font-size: 120%;
}

#skill1{
    margin: 32% 0 0 65%;
}

.text6{
    font-size: 140%;
    margin: 15% 0 0 0;
}

.text7{
    font-size: 140%;
    margin: 5% 0 5% 0;
}

.text8{
    font-size: 140%;
    margin: 0;
}

#skill2{
    margin: 35% 0 0 81%;
}

.effect1 {
    opacity : 0;
    transform : translate(0, 45px);
    display: inline-block;
    }

.effect1.effect-scroll{
    transform : translate(0, 0);
    opacity : 1;
    }


/*page3*/
.proscons{
    position: absolute;
    margin: 18% 0 0 3%;
    height: 150px;
    width: 100px;
    z-index: 5;
}

.proscons li{
    height: 50%;
    width: 100%;
    vertical-align: middle;
}

.page3pros1{
    height: 800px;
    width: 600px;
    background-color: #000;
    margin: 5% 0 0 25%;
    position: absolute;
    z-index: 2;
}

.page3pros1 p{
    color: #fff;
}

.page3cons2 p{
    color: #fff;
}

#prostitlebox{
    height: 65%;
    width: 90%;
    margin: 35% 0 0 10%;
    position: absolute;
}

.prosconsheader{
    font-family: 'Cormorant', serif;
    font-size: 900%;
    margin: 12% 0 0 10%;
    position: absolute;
}

.prostitle{
    font-family: 'Noto Serif JP', serif;
    font-size: 210%;
    margin: 12% 0 12% 5%;
}

.constitle{
    font-family: 'Noto Serif JP', serif;
    font-size: 250%;
    margin: 28% 0 14% 5%;
}

.prosconsline1{
    height: 90%;
    width: 2px;
    background-color: #fff;
    position: absolute;
    margin: 5% 0 0 10%;
}

.prosconsline2{
    height: 2px;
    width: 90%;
    background-color: #fff;
    position: absolute;
    margin: 35% 0 0 5%;
}
.page3pros2{
    height: 795px;
    width: 595px;
    background-color: #fff;
    margin: 5% 0 0 62%;
    position: absolute;
    border: solid 5px #000;
    z-index: 2;
}

.prostextbox{
    height: 25%;
    width: 78%;
}

.prosborder{
    height: 100%;
    width: 100%;
    border-bottom: solid 3px #000;
}

#mgl-25{
    margin-left: 22%;
}

#pgt-25{
    padding-top: 25%;
}

#pgt-15{
    padding-top: 15%;
}

.prosepisode{
    font-family: 'Cormorant', serif;
    font-size: 220%;
    padding: 4% 0 0 7%;
}

.prosepisode p{
    margin: 0;
}

.consepisode{
    font-family: 'Cormorant', serif;
    font-size: 220%;
    padding: 4% 0 0 7%;
}

.consepisode p{
    margin: 0;
}

#episode{
    font-family: 'Noto Serif JP', serif;
    padding: 0 0 0 17%;
    font-size: 120%;
}

#episode p{
    margin: 0;
}

.page3cons1{
    height: 795px;
    width: 595px;
    background-color: #fff;
    margin: 5% 0 0 25%;
    position: absolute;
    border: solid 5px #000;
    z-index: 1;
}

.page3cons2{
    height: 800px;
    width: 600px;
    background-color: #000;
    margin: 5% 0 0 62%;
    position: absolute;
    z-index: 1;
}

.constext1{
    height: 49.75%;
    width: 75%;
    border-right: solid 3px #000;
}

.consbordercenter{
    height: 0.5%;
    width: 75%;
    background-color: #000;
    margin-left: 12.5%;
}

.constext2{
    height: 49.75%;
    width: 75%;
    border-left: solid 3px #000;
}

.constext2{
    height: 49.5%;
    width: 75%;
}

.nonebox{
    display: none;
}

/*page4*/
.kindhobby{
    height: 100%;
    width: 400px;
    position: absolute;
}

#hobbykind1{
    margin-left: 450px;
}

#hobbykind2{
    margin-left: 900px;
}

#hobbykind3{
    margin-left: 1350px;
}

#hobbybox{
    position: absolute;
    background-color: #fff;
    height: 350px;
    width: 350px;
    z-index: 2;
    margin: 40% 0 0 0;
}

.hobby1{
    text-align: center;
}

.hobby1 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.hobby2{
    text-align: center;
}

.hobby2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.hobby3{
    text-align: center;
}

.hobby3 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#shadowhobby h1{
    position: absolute;
    padding: 0;
    bottom: 0;
    color: #fff;
    font-family: 'Cormorant', serif;
    font-size: 300%;
}

.hobbyshadow1 h1{
    margin: 0 0 0 45%;
}

.mgr-10{
    margin-right: 10px;
}

.hobbyshadow2 h1{
    margin: 0 0 0 7%;
}

.hobbyshadow3 h1{
    margin: 0 0 0 12%;
}

#shadowhobby{
    position: absolute;
    background-color: #000;
    border: solid 2px #fff;
    height: 346px;
    width: 346px;
    z-index: 1;
    margin: 55% 0 0 50px;
}


#texthobby{
    width:  396px;
    height: 250px;
    position: relative;
    border: solid 2px #fff;
    background-color: #000;
    z-index: 2;
    margin: 155% 0 0 0;
}

.hobby{
    height: 230px;
    width: 80%;
    margin: 10% 0 0 10%;
}

.hobby p{
    color: #fff;
    margin: 0;
    font-size: 120%;
}


/*ドロワー*/
#nav{
    position: fixed;
    right: -300px;
    top: 0;
    width: 300px;
    height: 100%;
    background-color: black;
    z-index: 10;
    transition: transform 0.3s;
}
.op{
    height: 100vh;
    width: 100vw;
    opacity: 0.3;
    background-color: #fff;
    z-index: 9;
}

#nav a{
    text-decoration: none;
    color: #fff;
}

.navlist{
    margin-top: 20%;
}

.navlist li{
    margin: 15% 0 15%;
}

.show{
    transform: translate3d(-300px,0,0);
}

